@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode colors */
  --background: #ffffff;
  --foreground: #1a1a1a;
}

.dark {
  /* Dark mode colors */
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
